:root{
    --gn : #8ddca4;
    --lgin : #407bff;
    --rg : #9553A0;
    --fg : #ff725e;
}


*{
    box-sizing: border-box;
}

body{
    background-color: #000;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */

    margin: 0;
    overflow: hidden;
}

/* Start Logo Section */
.logo{
    
    color: #fff;
    font-size: 60px;

    display: flex;
}

.logo div{
    width: 100px;
    height: 100px;
    background-color: turquoise;
    border-radius: 100%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: logoani 2s linear;
}

.logo div:hover{
    box-shadow: 0 0 10px lawngreen;
}

.logo div:nth-child(1){
    background-color: rgba(141,220,164,0.8);
    
    transform: translateX(10%);
    
}

.logo div:nth-child(2){
    background-color: rgba(64,123,255,0.8);
    
    transform: translateX(-10%);
    
}

.logo div:nth-child(3){
    background-color: rgba(255,114,94,0.8);
    
    transform: translateX(-30%);
    
}

.logo div:nth-child(4){
    background-color: rgba(149,83,160,0.8);
    
    transform: translateX(-50%);
    
}

.logo div:nth-child(5){
    background-color: rgba(149,83,160,0.8);
    
    transform: translateX(10%);
    
}

.logo div:nth-child(6){
    background-color: rgba(255,114,94,0.8);
    
    transform: translateX(-10%);
    
}

.logo div:nth-child(7){    
    background-color: rgba(64,123,255,0.8);
    
    transform: translateX(-30%);
    
}

.logo div:nth-child(8){
    background-color: rgba(141,220,164,0.8);
    
    transform: translateX(-50%);
    
}

.logo div:nth-child(9){
    background-color: rgba(141,220,164,0.8);
    
    transform: translateX(10%);
    
}

.logo div:nth-child(10){
    background-color: rgba(64,123,255,0.8);
    
    transform: translateX(-10%);
    
}

.logo div:nth-child(11){
    background-color: rgba(255,114,94,0.8);
    
    transform: translateX(-30%);
    
}

@keyframes logoani{
    0%{
        transform: scale(0) rotate(0deg);
    }
    50%{
        transform: scale(2) rotate(360deg);
    }
    100%{
        transform: scale(1) rotate(-360deg);
    }
}
/* End Logo Section */

/* Start Corner Section */

.corner{
    width:200px;
    height: 200px;
    color: #fff;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute; 

}

.login-corner.active,
.register-corner.active,
.forgot-corner.active{
    width: 450vh;
    height: 450vh;
    opacity: 0.8;

    z-index: 2;
}

.corner.active p{
    display: none;
}


.login-corner{
    background-color: var(--lgin);

    top: 0;
    left: 0;
    transform: translate(-50%,-50%) rotate(45deg);

    transition: all 0.5s;
}


.login-corner:hover{
    box-shadow: 0 0 10px #000;
}

.login-corner p{
    font-size: 20px;
    transform: translate(120%,40%) rotate(-45deg);
}


.register-corner{
    background-color: var(--rg);

    top: 0;
    right: 0;
    transform: translate(50%,-50%) rotate(-45deg);

    transition: all 0.5s;
}

.register-corner:hover{
    box-shadow: 0 0 10px #000;
}

.register-corner p{
    font-size: 20px;
    transform: translate(-100%,10%) rotate(45deg);
}


.forgot-corner{
    background-color: var(--fg);

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 0;
    left: 0;
    transform: translate(-50%,50%)  rotate(-45deg);

    transition: all 0.3s;
}

.forgot-corner:hover{
    box-shadow: 0 0 10px #000;
}

.forgot-corner p{
    font-size: 20px;
    
    transform: translate(120%,-20%) rotate(45deg);
}

.combo-corner{
    background-color: var(--gn);

    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%) rotate(-45deg);

    transition: all 0.5s;

}

.item-container{
    width: 60px;
    height: 60px;
    font-size: 20px;
    /* border-radius: 100%;
    box-shadow: 0px 0px 10px #000; */

    position: fixed;
    top: 10px;
    left: 80px;
}


.item-container i:nth-child(1){

    position: absolute;
    top: 27px;
    left: 17px;

    transform: rotate(-13deg);

    animation: cogani1 1s linear infinite;
}

.item-container i:nth-child(2){
    color: red;
    position: absolute;
    top: 10px;
    left: 20px;

    animation: cogani1 1s linear infinite;


}

.item-container i:nth-child(3){
    color: yellow;
    position: absolute;
    top: 7px;
    left: 2px;

    animation: cogani1 1s linear infinite;


    /* transform: rotate(-13deg); */
}

.combo-corner:hover .item-container i:nth-child(1){
    animation: cogani2 1s linear infinite;

}

.combo-corner:hover .item-container i:nth-child(2){
    animation: cogani2 1s linear infinite;

}

.combo-corner:hover .item-container i:nth-child(3){
    animation: cogani2 1s linear infinite;

}

.control{
    position: absolute;
    top: 0%;
    left: 50%;

    opacity: 0;

    transform: translate(-50%) scale(0);

    transition: all 0.5s;

}

.control.active{
    color: #fff;

    /* position: absolute; */
    top: -85%;
    left: 50%;

    opacity: 1;

    transform: translate(-50%) scale(1);

}

.ctrl{
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: var(--gn);
    margin: 5px 0;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -1;

    transform: rotate(45deg);
    
}

.signin-i{
    background-color: var(--lgin);
}

.register-i{
    background-color: var(--rg);
}

.forgot-i{
    background-color: var(--fg);
}

.ctrl:hover{
    /* background-color: red; */
    box-shadow: 0 0 10px var(--gn);
}

@keyframes cogani1{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(1turn);
    }
}

@keyframes cogani2{
    0%{
        transform: rotate(0);
    }

    100%{
        transform: rotate(-1turn);
    }
}

/* End Corner Section */

.container{
    max-width: 65rem;
    padding: 20px;
    color: #fff;

    z-index: 20;
}

.main-container{
    width: 100%;
    max-height: 35rem;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;

    display: none;
}

.img-container{
    width: 50%;
    height: 100%;
    padding: 4rem 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: myanidown 0.5s ease;

}

.login-img{
    background-color: var(--lgin);
}

.register-img{
    background-color: var(--rg);
}

.forgot-img{
    background-color: var(--fg);
}

img{
    width: 100%;
}

.form-container{
    width: 50%;
    height: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: myaniup;
    animation-duration: 0.5s;
    animation-timing-function: ease;
}

.form-control{
    width: 100%;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #aaa;
    padding: 5px 15px;
    margin: 15px 0;
}

.form-control::placeholder{
    color: #ddd;
}

.btn{
    width: 100%;
    background-color: #0e87eb;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    color: #fff;
    font-size: 15px;
    border: 0;
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
}

.registerform .btn{
    background-color: var(--rg);
}

.forgotform .btn{
    background-color: var(--fg);
}

.form-control:focus,
.btn:focus{
    outline: none;
}

.btn:focus{
    transform: scale(0.98);
}

.form-group{
    position: relative;
}


label{
    color: #eee;
    position: absolute;
    top:0;
    left: 14px;

    opacity: 1;
    

    transition: all 0.3s;

}

input:placeholder-shown + label{
    /* color: red; */
    top:30px;
    left: 34px;

    opacity: 0;
}

form a{
    text-decoration: none;
    font-size: 14px;
}

form span{
    display: block;
    font-size: 14px;
    margin-top: 8px;
}

.forgot-link, .register-link, .login-link{
    color: #ccc;
}

.close{
    width: 2rem;
    height: 2rem;
    border: 1px solid #ddd;
    border-radius: 100%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 1rem;
    left: 1rem;
    
}

.forgot{
    position: relative;
}

.fa-times{
    color: #fff;
}

.register, .forgot{
    display: none;
}

@keyframes myanidown{
    0%{
        transform: translateY(-100%);
    }
    
    100%{
        transform: translateY(0%);
    }
}

@keyframes myaniup{
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}