*{
    box-sizing: border-box;
}

body{
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    overflow: hidden;
}

.container{
    width: 200px;
    /* height: 150px; */
    background-color: #f4f4f4;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    display: none;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-55%,-50%);
}

.correct{
    background-color: lawngreen;
}

.wrong{
    background-color: red;
    color: #fff;
}

.btn{
    font-weight: bolder;
    border: none;
    background-color: #fff;
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.correct .btn{
    color: lawngreen;
}

.wrong .btn{
    color: red;
}



.word-container{
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: absolute;
    top: 10%;
    left: 0;

    margin: 0;
}

.fill{
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: brown;
    border: 1px solid lawngreen;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right{
    width: 50%;

    position: absolute;
    top: 10%;
    right: -10%;

}

.img-container{
    width: 300px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    width: 200px;
    object-fit: cover;
}

.empty-container{
    width: 300px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;

}

.empty{
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 5px;

}

small{
    color: #a0a0a0;
    position: absolute;
    bottom: 5%;
    left: 50%;

    transform: translate(-50%);
}